
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


/* General */
@font-face {
    font-family: "Lato Regular";
    src: url(fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato Bold";
    src: url(fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Open Sans Semibold";
    src: url(fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: "Avenir Black";
    src: url(fonts/avenir-lt-std/AvenirLTStd-Black.otf);
}

@font-face {
    font-family: "Avenir Light";
    src: url(fonts/avenir-lt-std/AvenirLTStd-Light.otf);
}

* {
    margin: 0;
    padding: 0;
}

/* Header */
.main {
    width: 980px;
    margin: 0 auto;
}

#top {
    overflow: hidden;
}

.languege {
    float: left;
    width: auto;
}

.personal {
    float: right;
    width: auto;
}

.head {
    padding: 10px 0;
}

#billboard {
    overflow: hidden;
}

.line {
    width: 100%;
    border-top: 1px solid #E8E8E8;
}

a {
    text-decoration:none;
    color: darkgray;
}

p {
    color: darkgray;
}

a:hover {
    text-decoration:underline;
}

.logo {
    float: left;
}

.logo img {
    padding: 40px 40px 45px 0;
    float: left;
}

h1 {
    text-indent: -9999px;
}

.nav {
    float: left;
    overflow: hidden;
    margin-top: 25px;
    border-left: 1px solid #D8D8D8;
}

.nav li {
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    float: left;
    font-size:16px;
    margin: 15px 25px;
}

.cart {
    float: right;
    border: 2px solid #D8D8D8;
    border-radius: 30px;
    width: auto;
    margin-top: 20px;
    min-width: 70px;
    display: block;
    text-align: center;
}

.cart img {
    padding: 15px;
}

.sum {
    font-family: "Open Sans Semibold", Arial, Helvetica, sans-serif;
    font-size:16px;
    color: #7f7e7e;
    float: right;
    width: auto;
    padding: 15px;
    margin-top: 5px;
}

.image {
    position: relative;
}

.big_title {
    font-family: "Avenir Black", Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 130px;
    left: 50px;
    text-transform: uppercase;
}

.small_title {
    font-family: "Avenir Light", Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    position: absolute;
    top: 180px;
    left: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.button {
    font-family: "Lato Bold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    background: red;
    position: absolute;
    top: 230px;
    left: 50px;
    padding: 20px 50px;
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}

.title {
    clear: both;
    margin-top: 60px;
}

h2 {
    font-family: "Lato Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.products {
    width: 282px;
    border: 4px solid #f7f6f6;
    float: left;
    margin-right: 40px;
    position: relative;
    padding-bottom: 40px;
}

.products.last {
    margin-right: 0;
}

.products a {
    float: left;
}

.products img {
    width: 100%;
}

.products p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.price {
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.sale {
    font-family: "Open Sans Semibold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    position: absolute;
    top: 30px;
    left: -4px;
    background: red;
    width: 75px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
}

.brandimage {
    float: left;
    border: 4px solid #f7f6f6;
    margin-right: 47px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.brandimage.last {
    margin-right: 0;
}

.container {
    overflow: hidden;
}

.stores {
    width: 169px;
    float: left;
    margin-right: 160px;
}

.store {
    margin-bottom: 40px;
}

.store span {
    display: block;
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 17px;
    color: darkgray;
}

span.phone {
    font-family: "Lato Bold", Arial, Helvetica, sans-serif;
}

.socials a:hover {
    color: darkblue;
}

.socials a {
    font-size: 18px;
    margin-right: 16px;
}

.socials a.last {
    margin-right: 0;
}

.blog {
    width: 300px;
    float: left;
    margin-right: 40px;
}

.post {
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}

.post a {
    font-family: "Lato Bold", Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 7px;
}

.support {
    width: 280px;
    overflow: hidden;
}

.links {
    width: 130px;
    float: left;
    margin-right: 20px;
    line-height: 20px;
}

.links.last {
    width: 75px;
    margin-right: 0;
}

.links ul li {
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 17px;
}

h3 {
    font-family: "Lato Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.container p {
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 17px;
    line-height: 1.4;
}

.downfooter {
    border-top: 1px solid #E8E8E8;;
}

.copyright {
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: darkgray;
    width: 300px;
    float: left;
    margin-top: 24px;
}

.creditcards {
    width: auto;
    float: right;
}

.creditcards a {
    margin-top: 20px;
    margin-right: 20px;
    float: left;
}

.creditcards .last {
    margin-right: 0;
}







































































